django==5.2
psycopg
psycopg[binary,pool]

dj-rest-auth
django-allauth==65.2.0
django-cors-headers
djangorestframework
djangorestframework-simplejwt

Pillow
channels==4.0.0
daphne==4.0.0

requests

signals